<fs-examples [config]="config">
  <fs-example name="Copy Function" componentName="copy">
    <app-copy></app-copy>
  </fs-example>

  <fs-example name="Clipboard Button" componentName="clipboard-button">
    <app-clipboard-button></app-clipboard-button>
  </fs-example>
  
  <fs-example name="Clipboard Component" componentName="clipboard">
    <app-clipboard></app-clipboard>
  </fs-example>

  <fs-example name="Clipboard Text" componentName="clipboard-text">
    <app-clipboard-text></app-clipboard-text>
  </fs-example>

  <fs-example name="Clipboard Text with Label Field" componentName="clipboard-text-label-field">
    <app-clipboard-text-label-field></app-clipboard-text-label-field>
  </fs-example>
</fs-examples>
